*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: url(blue-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    
}



h1{
    text-align: center;
    color: skyblue;
    text-decoration: underline;
}

form {
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: black;
    box-shadow: inset -5px -5px grey;
    max-width: 60%;
    margin: auto;
    border-radius: 8px;
    padding: 20px;

    
}

fieldset {
    border: 2px solid rgb(80, 76, 80) ;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: grey;
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    
}

legend {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: black;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
   
}

label {
    display: block;
    margin-top: 10px;
    color:black;
    font-weight: bold;
}

input,textarea {

    padding: 12px 15px;
    margin: 10px 0;
    width: 100%;
    border-radius: 20px;
    background-color: skyblue;
    box-shadow: inset -3px -3px skyblue;
    box-sizing: border-box;
    color: white;
    font-size: 1rem;
    
}

::placeholder{
    color: white;
    opacity: 0.7;
}

.profilePicture{

    display: block;
    margin: 0 auto;
    border: 2px solid rgb(80, 76, 80);
    box-shadow:inset -3px -3px skyblue; 
    border-radius: 500px;
    width: 150px;
    height: 150px;
    object-fit: cover;

}
@media (max-width: 375px) {
    .profilePicture {
        width: 100px;
        height: 100px; /* Even smaller on very small screens */
    }
}


button {
    
    display: block;
    width: 100%;
    padding:10px;
    background-color: grey ;
    box-shadow: inset -3px -3px grey;
    font-weight: 600;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    margin-bottom: 5px;
    border-radius: 40px;
}

button:hover{
    background-color: skyblue;
    color: white;

}

#resumeOutput {

    max-width: 600px;
    margin: auto;
    border: 2px solid rgb(80, 76, 80) ;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: skyblue;
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    outline: none; /*avoiding the black line after editing changes*/
   
}

#resumOutput h2 {
    color: rgb(245, 242, 242);
    text-align: center;
}

@media (max-width: 600px) {
    form {
        width: 90%; /* Adjust form width on smaller screens */
    }

    input, textarea {
        width: 100%; /* Make inputs fill their container on small screens */
    }

    .profilePicture {
        width: 120px;
        height: 120px; /* Smaller profile image for mobile */
    }

    button {
        padding: 12px; /* Increase button padding on smaller screens */
    }
}